<h4 class ="font-weight-bold">先生の図書館とは</h4>
<P>学校現場で求められることが非常に多くなっており残業が多いのが実情です。
<p> 一人一人の教員が日頃作成したワークシートや、指導案を持ち寄り、
<p>全国の小学校教員の作成したものを共有することで、残業時間を減らすことを目的としています。</p>

<h4 class ="font-weight-bold">個人情報について</h4>
<p>アップロードする際には、個人名が載ったままになっていないか、ご注意ください。</p>
<p>主に所見例や指導案の小学校名、個人名が該当すると考えられます。</p>

<h4 class ="font-weight-bold">アップロードしたファイルの権利について</h4>
<p>アップロードするしたファイルの著作権は作成した本人がそのままもっています。</p>
<p>アップロードしたファイルの他ユーザーによる複製、再使用、改変などについて許諾をお願いいたします。</p>
