<main role="main">
  <h3 class ="font-weight-bold">教材シェアとは</h3>
  <p>今の学校現場では、求められることが非常に多くなっており残業が多いのが実情です。</p>
  <p> 一人一人の教員が日頃作成した教材、ワークシートを1つに集め、</p>
  <p>全国の小学校教員の作成したものを共有することで、残業時間を減らすことを目的としています。<p>
</main>
