<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>先生の図書館</h1>
      <h4 class="notice"><%= notice %></h4>
      <h4 class="alert"><%= alert %></h4>
    </div>
  </section>
</main>
