<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>先生の図書館</h1>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </section>
</main>
