.jumbotron {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  background: rgba(127,127,127,0.1);
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 30rem;
}
