 body {
  text-align: center;
  align-items: center;
  padding-top: 2.5rem;
  background-image: url("records/room.jpg");
  background-size: cover;
  background-color: #f5f5f5;
  font-size: .875rem;
}
