 body {
  color: white;
  text-align: center;
  align-items: center;
  background-image: image-url("room.jpg");
  background-size: cover;
  font-size: .875rem;
  padding-top: 2.5rem;
}

html {
  position:relative;
  min-height: 100%;
}

footer{
  padding-top: 1rem;
}

a{
  color: white;
}
#error_explanation{
  text-align: center;
  font-size: 1.5rem;
}

.fa-file-text{
  color: #a3d1ff;
}

.alert-notice{
  background-color: #a3d1ff;
}

#post_form{
  font-size: 1rem;
  background-color: #f9fff9;
  color: black;
}

#search_form{
  color: black;
}

#policy{
  font-size: 1rem;
  color: black;
  background-color: #f9fff9;
}

.index-text{
  color: black;
  background-color: #f9fff9;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 10rem;
}
