html {
  position:relative;
  min-height: 100%;
}
header{
  background-color: #8effff;
  height: 3rem;
  opacity: 0.9;
}

body{
  background: linear-gradient(rgba(#c1ffe0, 0.75), rgba(#c1c1ff, 0.75)), image-url("");
  // background-size: cover;
  // mix-blend-mode: hard-light;
}

.header_text{
  font-size: 1rem;
  color: #2e82b1;
}
#form{
  margin-bottom: 30px;
}

#margin{
  margin-bottom: 6rem;
}
#index_color{
  background-color: #dee9c2;
}
#error_explanation{
  text-align: center;
  font-size: 1.5rem;
}
